h1 {
    color: blue;
}

h3 {
    color: orange;
}

.purple {
    color: purple;
}

#red {
    color:red;
}

.box {
    background-color: green;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
}

.btn {
    background-color: #aa4758;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;

}

#green {
    background-color: green;
    color: white;
}

//From Danielle in Instructor Code:
h1 {
    color: blue;
  }
  h3 {
    color: orange;
  }
  .purple {
    color: purple;
  }
  #red {
    color: red;
  }
  .box {
    background-color: green;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
  }
  .btn {
    background-color: #e692a0;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
  }
  #green {
    background-color: green;
    color: white;
  }